<body link="white" alink="red" vlink="white" >
    <header>
        <div class="navbar">
            <div class="nav-logo border">
                <div class="logo">

                </div>
            </div>
            <div class="nav-address border">
                <p class="add-Deliver">Party</p>
                <div class="add-icon">
                    <a href="about"><i class="fa-solid fa-champagne-glasses"></i></a>
                    <a href="about"class="add-India" style="text-decoration:none">B.C.A</a>
                </div>
            </div>
            <div class="nav-search">
                <select class="nav-search-select" onchange="window.location.href=this.value;">
                    <option>All</option>
                    <option value="sarvesh">sarvesh</option>
                    <option value="full_stack">FULL STACK</option>
                    <option value="front_end">front end</option>
                    <option value="security">security</option>
                    <option value="data_scientist">data scientist</option>
                </select>
                <input placeholder="Search in Mahadev" class="nav-search-input">
                <div class="nav-search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="nav-lang border">
                <i class="fa-solid fa-flag-usa"></i>
                <select name="" id=""><option><p>EN</p></option></select>

            </div>
            <div class="nav-signing border">
                <p><span >Hello, sign in</span></p>
                <p class="nav-signin-second">Fresher Party2022</p>
            </div>
            <div class="nav-return border">
                <p><span>Freshers</span></p>
                <p class="nav-signin-second">& Seniurs</p>
            </div>
            <div class="nav-cart border">
                <i class="fa-solid fa-microchip"></i>
                Tech
            </div>
        </div>
        <div class="panel">
            <div class="panel-all">
                <a href=""><i class="fa-solid fa-bars"></i></a>
                All
            </div>
            <div class="panel-options">
                <a href="data_scientist" style="text-decoration:none">Data Scientist</a>
                <a href="security" style="text-decoration:none">Sequrity Admin</a>
                <a href="front_end" style="text-decoration:none">front-end Developer</a>
                <a href="sarvesh" style="text-decoration:none">Back-end Developer</a>
                <a href="full_stack" style="text-decoration:none">Full Stack Developer</a>
            </div>
            <div class="panel-deals">
                <a href="#" style="text-decoration:none">Some Good Projects of B.C.A Students</a>
            </div>
        </div>
    </header>
</body>