<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          var carousel = document.querySelector(".carousel");
          var carouselInner = document.querySelector(".carousel-inner");
          var carouselImages = carouselInner.querySelectorAll(".carousel-image");
          var carouselIndicators = document.querySelectorAll(".carousel-indicator");
    
          var slideIndex = 0;
          var interval = setInterval(autoSlide, 3000);
    
          function autoSlide() {
            carouselInner.style.transform = "translateX(" + -slideIndex * 100 + "%)";
            carouselIndicators[slideIndex].classList.remove("active");
            slideIndex = (slideIndex + 1) % carouselImages.length;
            carouselIndicators[slideIndex].classList.add("active");
          }
    
          carousel.addEventListener("mouseover", function() {
            clearInterval(interval);
          });
    
          carousel.addEventListener("mouseout", function() {
            interval = setInterval(autoSlide, 3000);
          });
        });
      </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mahadev PG College</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {%load static %}
    <link rel="stylesheet" href="{%static 'style.css'%}">
</head>
<body link="white" alink="red" vlink="white" >
    <header>
        <div class="navbar">
            <div class="nav-logo border">
                <div class="logo">

                </div>
            </div>
            <div class="nav-address border">
                <p class="add-Deliver">Party</p>
                <div class="add-icon">
                    <a href="about"><i class="fa-solid fa-champagne-glasses"></i></a>
                    <a href="about"class="add-India" style="text-decoration:none">B.C.A</a>
                </div>
            </div>
            <div class="nav-search">
                <select class="nav-search-select" onchange="window.location.href=this.value;">
                    <option>All</option>
                    <option value="sarvesh">sarvesh</option>
                    <option value="full_stack">FULL STACK</option>
                    <option value="front_end">front end</option>
                    <option value="security">security</option>
                    <option value="data_scientist">data scientist</option>
                </select>
                <input placeholder="Search in Mahadev" class="nav-search-input">
                <div class="nav-search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="nav-lang border">
                <i class="fa-solid fa-flag-usa"></i>
                <select name="" id=""><option><p>EN</p></option></select>

            </div>
            <div class="nav-signing border">
                <p><span >Hello, sign in</span></p>
                <p class="nav-signin-second">Fresher Party2022</p>
            </div>
            <div class="nav-return border">
                <p><span>Freshers</span></p>
                <p class="nav-signin-second">& Seniurs</p>
            </div>
            <div class="nav-cart border">
                <i class="fa-solid fa-microchip"></i>
                Tech
            </div>
        </div>
        <div class="panel">
            <div class="panel-all">
                <a href=""><i class="fa-solid fa-bars"></i></a>
                All
            </div>
            <div class="panel-options">
                <a href="data_scientist" style="text-decoration:none">Data Scientist</a>
                <a href="security" style="text-decoration:none">Sequrity Admin</a>
                <a href="front_end" style="text-decoration:none">front-end Developer</a>
                <a href="sarvesh" style="text-decoration:none">Back-end Developer</a>
                <a href="full_stack" style="text-decoration:none">Full Stack Developer</a>
                <a href="/static/phissing.pdf" style="text-decoration:none">Phissing prevention</a>
            </div>
            <div class="panel-deals">
                <a href="#" style="text-decoration:none">Some Good Projects of B.C.A Students</a>
            </div>
        </div>
    </header>
    <div class="hero-section">
        <div class="hero-msg">
            <h3>Welcome You all  From B.C.A Students and enjoy your journey in MPGC</h3>
        </div>
    </div>


    <div class="photo-section">
        <div class="box1 photo">
           <div class="box-content">
            <h2>World Yoga Day</h2>
            <div class="box-img" style="background-image: url('/static/bca_img/1.jpg');"></div>
            <p>Faculty of B.C.A Department Particiapated in Yoga</p>
           </div>
        </div>
        <div class="box2 photo">
              <div class="box-content">
                <h2>Republic Day</h2>
                <div class="box-img" style="background-image: url('/static/bca_img/2.jpg');"></div>
                <p> 26 january Republic Day Teachers and Students</p>
               </div>
        </div>
        <div class="box3 photo">
               <div class="box-content">
                <h2>Republic Day</h2>
                <div class="box-img" style="background-image: url('/static/bca_img/3.jpg');"></div>
                <p> 26 january Republic Day Teachers and Students</p>
               </div>
        </div>
        <div class="box4 photo">
                <div class="box-content">
                <h2>Group Photo</h2>
                <div class="box-img" style="background-image: url('/static/bca_img/4.jpg');"></div>
                <p> After compleating Activity of Chrishtmas Day</p>
               </div>
        </div>

        <div class="box1 photo">
            <div class="box-content">
             <h2>Chrishtmas</h2>
             <div class="box-img" style="background-image: url('/static/bca_img/5.jpg');"></div>
             <p>Our Great Teachers observing our Christmas Trees</p>
            </div>
         </div>
         <div class="box2 photo">
               <div class="box-content">
                 <h2>Chrishtmas File Photo</h2>
                 <div class="box-img" style="background-image: url('/static/bca_img/6.jpg');"></div>
                 <p> 24 December 2022 ,After presenting Chrishtmas Tree</p>
                </div>
         </div>
         <div class="box3 photo">
                <div class="box-content">
                 <h2>Winner Chrishtmas Tree</h2>
                 <div class="box-img" style="background-image: url('/static/bca_img/7.jpg');"></div>
                 <p>Sir Decorated Natural Tree and Won competition</p>
                </div>
         </div>
         <div class="box4 photo">
                 <div class="box-content">
                 <h2>Vaibhav Sir</h2>
                 <div class="box-img" style="background-image: url('/static/bca_img/8.jpg');"></div>
                 <p>Vaibhav Sir is most Friendly Teacher of B.C.A</p>
                </div>
         </div>
    </div>

</body>
</html>