{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

   {% block head %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          var carousel = document.querySelector(".carousel");
          var carouselInner = document.querySelector(".carousel-inner");
          var carouselImages = carouselInner.querySelectorAll(".carousel-image");
          var carouselIndicators = document.querySelectorAll(".carousel-indicator");
    
          var slideIndex = 0;
          var interval = setInterval(autoSlide, 3000);
    
          function autoSlide() {
            carouselInner.style.transform = "translateX(" + -slideIndex * 100 + "%)";
            carouselIndicators[slideIndex].classList.remove("active");
            slideIndex = (slideIndex + 1) % carouselImages.length;
            carouselIndicators[slideIndex].classList.add("active");
          }
    
          carousel.addEventListener("mouseover", function() {
            clearInterval(interval);
          });
    
          carousel.addEventListener("mouseout", function() {
            interval = setInterval(autoSlide, 3000);
          });
        });
      </script>
    {% endblock head %}
   
{% block body %}
    <div class="hero-section">
        <div class="hero-msg">
            <h3>Welcome You all  From B.C.A Students and enjoy your journey in MPGC</h3>
        </div>
    </div>


    <div class="photo-section">
        <div class="box1 photo">
           <div class="box-content">
            <h2>World Yoga Day</h2>
            <div class="box-img" style="background-image: url('/static/bca_img/1.jpg');"></div>
            <p>Faculty of B.C.A Department Particiapated in Yoga</p>
           </div>
        </div>
        <div class="box2 photo">
              <div class="box-content">
                <h2>Republic Day</h2>
                <div class="box-img" style="background-image: url('/static/bca_img/2.jpg');"></div>
                <p> 26 january Republic Day Teachers and Students</p>
               </div>
        </div>
        <div class="box3 photo">
               <div class="box-content">
                <h2>Republic Day</h2>
                <div class="box-img" style="background-image: url('/static/bca_img/3.jpg');"></div>
                <p> 26 january Republic Day Teachers and Students</p>
               </div>
        </div>
        <div class="box4 photo">
                <div class="box-content">
                <h2>Group Photo</h2>
                <div class="box-img" style="background-image: url('/static/bca_img/4.jpg');"></div>
                <p> After compleating Activity of Chrishtmas Day</p>
               </div>
        </div>

        <div class="box1 photo">
            <div class="box-content">
             <h2>Chrishtmas</h2>
             <div class="box-img" style="background-image: url('/static/bca_img/5.jpg');"></div>
             <p>Our Great Teachers observing our Christmas Trees</p>
            </div>
         </div>
         <div class="box2 photo">
               <div class="box-content">
                 <h2>Chrishtmas File Photo</h2>
                 <div class="box-img" style="background-image: url('/static/bca_img/6.jpg');"></div>
                 <p> 24 December 2022 ,After presenting Chrishtmas Tree</p>
                </div>
         </div>
         <div class="box3 photo">
                <div class="box-content">
                 <h2>Winner Chrishtmas Tree</h2>
                 <div class="box-img" style="background-image: url('/static/bca_img/7.jpg');"></div>
                 <p>Sir Decorated Natural Tree and Won competition</p>
                </div>
         </div>
         <div class="box4 photo">
                 <div class="box-content">
                 <h2>Vaibhav Sir</h2>
                 <div class="box-img" style="background-image: url('/static/bca_img/8.jpg');"></div>
                 <p>Vaibhav Sir is most Friendly Teacher of B.C.A</p>
                </div>
         </div>
    </div>

{% endblock body %}
